name: Angular Build CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repository code
      - run: |
          echo "Hello World!"
          echo "Installing node js"
          npm install node@latest
          echo "Successfully completed node js"
